@(title: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title</title>
        <meta http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;style-src  'self' 'unsafe-inline' *">
        <link href="resources/css/style.css" type="text/css" rel="stylesheet" />
        <script id="microloader" data-app="2e3e4877-d7c7-4c41-b198-30a5f22c287d" type="text/javascript" src="bootstrap.js"></script>
    </head>
    <body></body>
</html>