USE [master]
GO
/****** Object:  Database [AML_DOC]    Script Date: 8/21/2018 5:27:50 PM ******/
CREATE DATABASE [AML_DOC] ON  PRIMARY 
( NAME = N'AML_DOC', FILENAME = N'E:\database\aml\AML_DOC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AML_DOC_log', FILENAME = N'E:\database\aml\AML_DOC_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AML_DOC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AML_DOC]
GO
/****** Object:  Schema [Form]    Script Date: 8/21/2018 5:27:51 PM ******/
CREATE SCHEMA [Form]
GO
/****** Object:  Table [Form].[Attachment]    Script Date: 8/21/2018 5:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Form].[Attachment](
	[Id] [uniqueidentifier] NULL,
	[Serial] [uniqueidentifier] NULL,
	[FormId] [uniqueidentifier] NULL,
	[Name] [varchar](150) NULL,
	[Desc] [varchar](500) NULL,
	[FileName] [varchar](250) NULL,
	[UploadedDate] [datetime] NULL,
	[UploadedBy] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Form].[UploadFile]    Script Date: 8/21/2018 5:27:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Form].[UploadFile](
	[Id] [uniqueidentifier] NOT NULL,
	[AttachmentId] [uniqueidentifier] NULL,
	[FileName] [varchar](250) NULL,
	[FileSize] [bigint] NULL,
	[FileContent] [varbinary](max) NULL,
	[UploadedDate] [datetime] NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Form].[Attachment] ADD  CONSTRAINT [DF__Attachment__Id__014935CB]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Form].[UploadFile] ADD  CONSTRAINT [DF__UploadFile__Id__03317E3D]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Form].[UploadFile] ADD  CONSTRAINT [DF_UploadFile_UploadedDate]  DEFAULT (getdate()) FOR [UploadedDate]
GO
ALTER TABLE [Form].[UploadFile] ADD  CONSTRAINT [DF_UploadFile_Status]  DEFAULT ('Active') FOR [Status]
GO
USE [master]
GO
